@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-bule);
  transition: 0.4s;
}

.pageLayout{
  width: 100vw;
  min-height: calc(100vh - 50px);
  margin-top: 50px;
}

@media (hover: hover) {
  a:hover {
    background-color: #7b9acc30;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  .layout {
    width: 100vw;
    height: 100vh;
  }
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin : 0;
  }
}
